
body{
  background: url("https://s3-us-west-1.amazonaws.com/realisticshots/87.jpg") no-repeat center center fixed;
  background-size: cover;
  color: black;
}
header{
  background-color: white;
  max-width: 1000px;
  margin: auto;
}
main{
  background-color: white;
  max-width: 1000px;
  margin: auto;
}
footer{
  background-color: white;
  max-width: 1000px;
  margin: auto;
}

